.edit-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 6rem;

}

.edit-profile-card {
  background-color: #3D405B;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
}

p {
  margin-left: 0rem;
}

.edittext {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buhoProfile {
  height: 50px;
  transform: scaleX(-1);
  margin-left: 10px;
}

.edit-profile-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.user img {
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
  transform: translateX(75%);
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-field input {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.form-buttons button {
  width: 45%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transform: translateY(0%);
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  margin-top: 1rem;
}


.form-buttons button:first-child {
  background-color: #4CAF50;
  /* Verde para guardar */
  color: white;
}

.form-buttons button:last-child {
  background-color: #f44336;
  /* Rojo para cancelar */
  color: white;
}

.form-buttons button:hover {
  opacity: 0.8;
}

/* Estilos para la imagen de perfil */
.profile-image {
  height: 100px;
  width: 158px;
  border-radius: 50%;
  margin-right: 10px;
  /* Espacio entre la imagen y el icono */
}

/* Estilos del icono */
.profile-image-label {
  background-color: #4CAF50;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  margin-left: 15rem;
  /* Separación entre la imagen y el ícono */
  margin-top: -2.8rem;
}

.plus-icon {
  font-weight: bold;
}

/* Estilo de input file (oculto) */
.file-input {
  display: none;
}


@media (max-width: 768px) {
  .buhoProfile {
    height: 50px;
    transform: scaleX(-1);
    margin-left: 10px;
  }

  .edit-profile-card h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .user img {
    height: 125px;
    width: 130px;
    transform: translateX(100%);
  }

  .profile-image-label {
    margin-top: -3.4rem;
  }

  .buhoProfile {
    height: 40px;
    margin-left: 10px;
  }

  .form-field label {
    font-size: 13px;
    margin-left: 0.5rem
  }

  .form-field input {
    width: 90%;
    margin-left: 0.5rem
  }

  .form-buttons button {
    width: 40%;
    height: 45px;
    margin-right: 1rem;
    margin-left: 1.3rem;
  }

  @media (max-width: 480px) {
    .edit-profile-card {
      width: 20rem;
    }

    .edit-profile-container {
      margin-top: 8rem;
      margin-bottom: 2rem;
    }

    .user img {
      height: 115px;
      transform: translateX(80%);
      width: 124px;
    }


    .profile-image-label {
      margin-top: -3.4rem;
      margin-left: 11.3rem;
    }

    .form-buttons button {
      width: 35%;
      height: 45px;
      margin-right: 1rem;
      margin-left: 1.7rem;
    }

  }

  @media (max-width: 480px) {
    .edit-profile-card {
      width: 18rem;
    }

    .edit-profile-container {
      margin-top: 6rem;
      margin-bottom: 0rem;
    }

    .user img {
      height: 115px;
      transform: translateX(65%);
    }

    .form-buttons button {
      width: 35%;
      height: 45px;
      margin-right: 1rem;
      margin-left: 1.6rem;
    }

  }

  @media (max-width: 320px) {
    .edit-profile-card {
      width: 14rem;
    }

    .edit-profile-card h2 {
      font-size: 18px;
    }

    .buhoProfile {
      height: 30px;
    }

    .edit-profile-container {
      margin-top: 7rem;
      margin-bottom: 1rem;
    }

    .user img {
      height: 100px;
      transform: translateX(55%);
      width: 105px;
    }

    .profile-image-label {
      margin-left: 9.5rem;
    }

    .form-buttons button {
      width: 40%;
      height: 45px;
      margin-right: 0rem;
      margin-left: 1rem;
    }

    .form-field label {
      margin-left: 0.2rem
    }

    .form-field input {
      margin-left: 0.2rem
    }

  }

}