.favoritos-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 8rem;
  }
  
  .favoritos-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #213547;
  }
 .favoritos-filter{
    margin-left: 8rem;
 }
  /* Contenedor de tarjetas */
  .favoritos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    justify-items: center;
  }
  
  @media (max-width: 768px) {
    .favoritos-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
  
  @media (max-width: 480px) {
    .favoritos-list {
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
    }
  }
  
  /* Estilo para cada tarjeta */
  .favorito-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: 90%;
    max-width: 300px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .favorito-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .favorito-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .favorito-item p {
    margin: 10px 0 0;
    font-size: 1.1rem;
    color: #213547;
  }
  
  /* Mensaje de "sin favoritos" */
  .no-favoritos {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    margin-top: 2rem;
  }
  
  .resenas {
    margin-top: 30px;
  }
  
  .resena-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .resena-card h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .resena-card p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .no-resenas {
    text-align: center;
    font-size: 1.1rem;
    color: #555;
  }
  