.ingresar-local-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 92vh;
    margin-top: 6rem;
}

.ingresar-local-content {
    padding: 20px;
    text-align: center;
    background-color: #3D405B;
    margin: 2rem;
    min-height: 60vh;
    position: relative;
}

.ingresar-local-content::before{
    content: '';
    position: absolute;
    top: -40px;
    left: -1px;
    width: 128px;
    height: 128px;
    background-image: url('../../assets/backgrounds/curva.png'); /* Asegúrate de que la ruta sea correcta */
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    transform: rotate(180deg); /* Para que la curva quede invertida */
}
.ingresar-local-content::after{
    content: '';
    position: absolute;
    bottom: -40px;
    right: -1px;
    width: 128px;
    height: 128px;
    background-image: url('../../assets/backgrounds/curva.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.ingresar-local-content h1 {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}

.ingresar-local-content p {
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    line-height: 1.5;
    width: 75%;
    margin-left: 7.2rem;
}

.ingresar-local-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    width: 105%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.image-item {
    position: relative;
    display: inline-block;
}

.image-item img {
    width: 140px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    font-weight: bold;
}

.submit-button {
    display: block;
    width: 10rem;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    height: 3rem;
    margin-top: 1rem;
}

.submit-button:hover {
    background-color: #45a049;
}


.custom-file-upload {
    position: relative;
    display: inline-block;
    width: 100%;
}

#fotografias {
    display: none;
}

.upload-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: gray;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-left: 3.5rem;
}

.upload-icon {
    margin-right: 10px;
    font-size: 20px;
}

.message-status {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 9rem;
    text-align: center;
}



@media (max-width: 1920px) {
    .ingresar-local-content p {

        margin-left: 11rem;
    }


}

@media (max-width: 1050px) {
    .ingresar-local-content p {

        margin-left: 7.3rem;
    }
}

@media (max-width: 768px) {
    .ingresar-local-content {
        margin: 1rem;
        padding: 10px;
    }


    .ingresar-local-content h1 {
        font-size: 22px;
    }

    .ingresar-local-content p {
        font-size: 14px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-group input,
    .form-group select {
        font-size: 14px;
    }

    .upload-label {
        font-size: 14px;
    }

    .image-item img {
        width: 100px;
        height: 80px;
    }

    .submit-button {
        font-size: 14px;
        width: 8rem;
        height: 2.5rem;
    }
}

/* Móviles (480px o menores) */
@media (max-width: 480px) {
    .ingresar-local-content h1 {
        font-size: 20px;
    }

    .ingresar-local-content p {
        font-size: 13px;
    }

    .upload-label {
        font-size: 12px;
        padding: 8px;
    }

    .image-item img {
        width: 80px;
        height: 60px;
    }

    .submit-button {
        font-size: 15px;
        width: 8rem;
        height: 3rem;
    }

    .form-group select {
        height: 2.5rem;
        font-size: 13px;
        width: 100%;
    }

    .form-group input {
        width: 19.6rem;
    }

    .upload-label {
        margin-left: 2rem;
    }

    .image-preview {
        margin-left: 5rem;
    }

}


@media (max-width: 376px) {
    .ingresar-local-content h1 {
        font-size: 18px;
    }

    .ingresar-local-content p {
        font-size: 12px;
    }

    .form-group label {
        font-size: 12px;
    }

    .upload-label {
        font-size: 12px;
        padding: 8px;
    }

    .image-item img {
        width: 80px;
        height: 60px;
    }

    .submit-button {
        font-size: 15px;
        width: 8rem;
        height: 3rem;
    }

    .form-group select {
        height: 2.5rem;
        font-size: 13px;
        width: 100%;
    }

    .form-group input {
        width: 17rem;
    }

    .upload-label {
        margin-left: 2rem;
    }

    .image-preview {
        margin-left: 4rem;
    }

}



@media (max-width: 320px) {
    .ingresar-local-content h1 {
        font-size: 18px;
    }

    .ingresar-local-content p {
        font-size: 12px;
    }

    .form-group label {
        font-size: 12px;
    }

    .form-group input {
        width: 13.8rem;
    }

    .upload-label {
        margin-left: 1.5rem;
    }

    .image-preview {
        margin-left: 2.2rem;
    }

}