.carousel-container {
    position: relative;
    width: 100%;
    max-width: 65rem;
    height: 40rem;
    overflow: hidden;
    margin: 0 ;
    text-align: center;
}

.carousel-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.carousel-image {
    height: 65%;
    object-position: center;
    object-fit: contain;
    border-radius: 2rem;
    border: 4px solid black; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.4);


}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 4rem;
    z-index: 1;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.local-name {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}
.carousel-image:hover{
    transform: scale(1.01);
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.6);
}
@media (max-width: 1025px){
    button {
        margin-right: 1rem;
    }
    .prev {
        left: 4rem;
    }
    
    .next {
        right: 3.5rem;
    }
}
@media (max-width: 969px){
    .carousel-image{
        height: 60%;
    }
}

@media (max-width: 768px) {
    .carousel-container {
        height: 30rem;
        margin-left: 1.1rem;
        margin-right: 2rem;
    }

    .carousel-image {
        height: 60%;
    }

    button {
        font-size: 2rem; 
        height: 4.5rem;
        width: 4.5rem;
    }
    .local-name {
        font-size: 1.5rem;
    }

    .carousel-title {
        font-size: 2rem;
    }
    .prev {
        left: 4rem;
    }
    
    .next {
        right: 3.5rem;
    }
}

@media (max-width: 638px) {
    .carousel-container {
        height: 21rem;
        margin-left: 1.5rem;
    }

    .carousel-image {
        height: 56%;
        border: 3px solid black; 
    }

    button {
        font-size: 1.5rem;
        height: 2.8rem;
        width: 2.8rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0rem;
    }
    
    .carousel-title{
        font-size: 1.5rem;
    }

    .local-name{
        font-size: 1.2rem;
    }
    .prev {
        left: 1rem;
    }
    
    .next {
        right: 1rem;
    }

}

@media (max-width: 376px) {
    .carousel-container {
        height: 18rem;
    }
    .carousel-image{
        height: 54%;
    }
    button{
        position: absolute;
        top: 48%;
        transform: translateY(-50%);

    }
    .carousel-title{
        font-size: 1.2rem;
    }
    .local-name{
        font-size: 1rem;
    }

    .prev {
        left: 1rem;
    }
    
    .next {
        right: 1rem;
    }

}

@media (max-width: 321px) {
    .carousel-container{
        margin-right: 1rem;
        height: 16rem;
    }
    .carousel-image{
        height: 51%;
        border: 3px solid black; 
        
    }
    button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0rem;
        height: 2rem;
        width: 2rem;
        font-size: 1.2rem;
    }
    .carousel-title{
        font-size: 1.2rem;
    }
    .local-name{
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .carousel-container{
        margin-left: 1.5rem;
    }
    .prev {
        left: 1rem;
    }
    
    .next {
        right: 1rem;
    }

}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

