.retirar-local-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 92vh;
    margin-top: 6rem;
}

.retirar-local-content {
    padding: 20px;
    text-align: center;
    background-color: #3D405B;
    margin: 2rem;
    min-height: 60vh;
    position: relative;
}
.retirar-local-content::before{
    content: '';
    position: absolute;
    top: -40px;
    left: -1px;
    width: 128px;
    height: 128px;
    background-image: url('../../assets/backgrounds/curva.png'); /* Asegúrate de que la ruta sea correcta */
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    transform: rotate(180deg); /* Para que la curva quede invertida */
}
.retirar-local-content::after{
    content: '';
    position: absolute;
    bottom: -40px;
    right: -1px;
    width: 128px;
    height: 128px;
    background-image: url('../../assets/backgrounds/curva.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.retirar-local-content h1 {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}

.retirar-local-content p {
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    line-height: 1.5;
    width: 75%;
    margin-left: 7.2rem;
}

.retirar-local-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    width: 105%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.message-status {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 9rem;
    text-align: center;
}

.submit-button {
    display: block;
    width: 10rem;
    background-color: #D72638;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    height: 3rem;
    margin-top: 1rem;
}

.submit-button:hover {
    background-color: #C21834;
}

@media (max-width: 1920px) {
    .retirar-local-content p {
        margin-left: 11rem;
    }
}

@media (max-width: 1050px) {
    .retirar-local-content p {
        margin-left: 7.3rem;
    }
}

@media (max-width: 768px) {
    .retirar-local-content {
        margin: 1rem;
        padding: 10px;
    }

    .retirar-local-content h1 {
        font-size: 22px;
    }

    .retirar-local-content p {
        font-size: 14px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-group input,
    .form-group select {
        font-size: 14px;
    }

    .submit-button {
        font-size: 14px;
        width: 8rem;
        height: 2.5rem;
    }
}

/* Móviles (480px o menores) */
@media (max-width: 480px) {
    .retirar-local-content h1 {
        font-size: 20px;
    }

    .retirar-local-content p {
        font-size: 13px;
    }

    .submit-button {
        font-size: 15px;
        width: 8rem;
        height: 3rem;
    }

    .form-group select {
        height: 2.5rem;
        font-size: 13px;
        width: 100%;
    }

    .form-group input {
        width: 19.6rem;
    }
}

/* Muy pequeños (320px o menores) */
@media (max-width: 320px) {
    .retirar-local-content h1 {
        font-size: 18px;
    }

    .retirar-local-content p {
        font-size: 12px;
    }

    .form-group input {
        width: 13.8rem;
    }
}
