/* Estilos de la pagina principal del invitado la que sale por default*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url('../../assets/backgrounds/backgroundLightTheme.jpg');
  background-size:25rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-top: 7rem;
}

.locales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 1rem;
}

.superadmin-buttons {
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Mayor separación entre botones */
  z-index: 1000;
}

.superadmin-button {
  position: relative;
  width: 85px; /* Botón más grande */
  height: 85px;
  background-color: white; /* Fondo blanco */
  color: white; /* Color por defecto de texto */
  border: 4px solid; /* Borde más grueso */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}


.superadmin-button.edit {
  border-color: #4caf50; /* Verde */
}

.superadmin-button.edit i {
  color: #4caf50; /* Icono verde */
}

.superadmin-button.delete {
  border-color: #f44336; /* Rojo */
}

.superadmin-button.delete i {
  color: #f44336; /* Icono rojo */
}

.superadmin-button.add {
  border-color: #000000; /* Negro */
}

.superadmin-button.add i {
  color: #000000; /* Icono negro */
}

.superadmin-button i {
  font-size: 40px; /* Iconos más grandes */
}
.add-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-modal-container {
background-color: #3D405B;  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-modal-container h2 {
  margin-bottom: 15px;
}

.add-modal-container label {
  display: block;
  margin-bottom: 10px;
}

.add-modal-input,
.add-modal-textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-modal-buttons {
  display: flex;
  justify-content: space-between;
}

.add-modal-confirm {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-modal-cancel {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-modal-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: -10rem;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}


.add-modal-buttons button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  transform: translateY(0%);
  height: 45px;
  border: 1px solid black;
  width: 125px;
  margin-left: 8rem;
}

@media (max-width: 768px) {
  .locales {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .locales {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
  }
}  


