header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3D405B;
  color: white;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img,
.logob-img {
  height: 100px;
  cursor: pointer;
}

.search-bar {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 500px;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.search-bar input {
  width: 100%;
  max-width: 550px;
  min-width: 50px;
  padding: 1rem;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: black;
}

.user-icon {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.user-img {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-bar input {
    max-width: 80%;
  }
}

@media (max-width: 758px) {
  .logob-img {
    display: none !important;
  }
  
  .user-img{
    height: 60px;
    width: 60px;
  }
}
.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.arrow-container {
  display: flex;
  align-items: center;
}

.arrow-img {
  height: 50px; /* Tamaño ajustable */
  cursor: pointer;
}


